<!DOCTYPE html>
<html lang="pt">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  {{ bootstrap.load_css() }}
  {% endblock %}
  <title>
    {% block title %}{% endblock %}
  </title>
  {% endblock %}
</head>

<body>
  {% block content %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Draxak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/profile/user/{{ current_user.id }}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Sair</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/login">Entrar na Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/sign-in">Criar Conta</a>
          </li>
          {% endif %}
        </ul>
      </div>

  </nav>
  {% with messages = get_flashed_messages(category_filter = ["success"]) %}
  <div class="container-fluid bg-success text-white">
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</div>
  {% with messages = get_flashed_messages(category_filter = ["warning"]) %}
  <div class="container-fluid bg-warning text-white">
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li class="text-dark">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</div>
  </div>
  {% endblock %}
  {% block scripts %}
  {{ bootstrap.load_js() }}
  {% endblock %}
</body>

</html>