{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_field %}
{% block title %}Início - Criar conta{% endblock %}
{% block content %}
<header>
  {{ super() }}
  <h1 class="text-center">Criar conta</h1>
</header>
<main>
  <div class="container">
    <form method="post">
      {{ form.csrf_token }}
      {{ render_field(form.username, placeholder="Digite seu nome de usuário")}}
      {{ render_field(form.email, placeholder="Digite seu Email") }}
      {{ render_field(form.password, placeholder="Digite sua Senha")}}
      {{ render_field(form.submit)}}
    </form>
  </div>
</main>
{% endblock %}